<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.Asm_andrnangcao_ps19353"
        tools:targetApi="31">
        <activity
            android:name=".course.DangKy1"
            android:exported="false" />
        <activity
            android:name=".course.DangKy"
            android:exported="false" />
        <activity
            android:name=".home.SocialActivity"
            android:exported="false" />
        <activity
            android:name=".home.NewsActivity"
            android:exported="false" />
        <activity
            android:name=".home.MapActivity"
            android:exported="false" />
        <activity
            android:name=".course.CourseActivity"
            android:exported="false" />
        <activity
            android:name=".login.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".login.Manhinhchao"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".home.MainActivity"
            android:exported="false" />

        <service android:name=".service.KiemTraDangNhapService" />
        <service android:name=".service.DangKyMonHocService" />
        <service android:name=".service.DKMonHocService"/>
    </application>

</manifest>